
body {
    font-family: "InterRegular";
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    font-size: 16px;
    margin: 0px;
}

.h1{
    margin: 0px;
    font-size: 38px;
    text-transform: uppercase;
    font-family: "InterBold";
}

header {
    font-family: "InterSemiBold";
    display: inline-flex;
    padding-top: 22px;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 23px;
    width: 1440px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

header .contact-details{
    display: inline-flex;
    height: 55px;
    font-size: 16px;
    align-items: center;
}

.logo {
    width: 246px;
    height: 55px;
}

.phone {
    margin-right: 22px;
    display: inline-flex;
}

.phone img{
    margin-right: 5px;
}
  
.email {
    text-decoration: none;
    margin-right: 22px;
    display: inline-flex;
}

.email img{
    margin-right: 5px;
}

header .cont-button {
    width: 24px;
    height: 24px;
}

header .contact-details a{
    background-color: #E40000;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    color:white;
    border-radius: 30px;
    font-family: "InterBold";
    display: flex;
}

header .contact-details a:hover{
    color: #E40000;
    background-color: white;
    border-color: #E40000;
    outline: 1px solid #E40000;
    outline-offset: -1px;
}


.main-menu{
    background-color: #3C4047;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    color:white;
    height: 59px;
    width: 100%;
}

.main-menu ul{
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    padding-inline-start: 0px;
    height: 59px;
    width: 1440px;
    padding-left: 140px;
    padding-right: 140px;
    font-size: 16px;
    font-family: "InterRegular";
    display: inline-flex;
    text-decoration: none;
}
.main-menu ul li{
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 18px;
    padding-left: 20px;
    padding-right: 20px;
    
}
.main-menu ul li a {
    text-decoration: none;
    color: white;
}

.main-menu ul li:hover{
    background-color: #E40000;
}

.main-offer {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/Offer.jpg");
    background-size: 100%;
    background-position: 100%;
    background-position: top;
    background-repeat: no-repeat;
}

.main-offer .text-offer {
    background-color: rgb(255, 255, 255);
    width: fit-content;
    height: fit-content;
    margin: 150px;
    margin-left: 240px;
    padding: 45px;
    border-radius: 30px;

}


.main-offer .text-offer .text h1{
    font-family: "InterBold";
    font-size: 85px;
    font-weight: 700;
    text-align: left;
    margin: 0px;
    margin-bottom: 46px;
}

.main-offer .text-offer a{
    padding-top: 134px;
    background-color: #E40000;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    color:white;
    border-radius: 30px;
    font-family: "InterBold";
    display: inline-flex;
    text-decoration: none;
}

.main-offer .text-offer a .img{
    height: 20px;
    width: 10px;
    margin-left: 15px;
    background-color: #ffffff;
    mask-image: url("../image/Caret_Right_SM.svg");
    mask-repeat: no-repeat;
    mask-position: center;
}


.nav-list ul{
    padding: 10px 16px;
    list-style: none;
    display:inline-flex;
    width: 1440px;
    text-decoration: none;
}

.nav-list ul li{
    margin: 7px;
    text-decoration: none;
    color: black;
}

.nav-list ul li a{
    text-decoration: none;
    color: black;
}

.nav-list ul li a:hover{
    color: #E40000;
}

.h1-title {
    margin-top: -20px;
    width: 1440px;
    font-size: 50px;
    text-align: left;
}

.advantages .adv-bubbles{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 60px 85px 60px 85px;
}

.advantages {    
    display: inline-flex;
    margin-top: -30px;
    border-radius: 30px;
    
    margin-bottom: 50px;
    width: 1440px;
    background-color: #F0F0F0;
    justify-content: center;
}

.advantages .adv-bubbles .adv {
    display: inline-flex;
    align-items: center;
    max-width: 333px;
}

.advantages .adv-bubbles .adv h1{
    font-size: 30px;
    text-transform:uppercase;
    font-family: "InterBold";
    margin: 0;
}

.advantages .adv-bubbles .adv p{
    font-size: 20px;
    margin: 0;
}

.advantages .adv-bubbles .adv img{
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

.advantages .adv-bubbles .adv .adv-cart{
    display:flex;
    flex-direction: column;
    gap: 5px;
}

.h1-title {
    margin-top: -20px;
    width: 1440px;
    font-size: 60px;
    text-align: left;
}

.how-to-connect {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}


.phone-info {
    width: 700px;
    height: 164px;
    border-radius: 30px;
    background-color: #EDEDED;
    display: grid;
    align-items: end;
}

.phone-info .phone-info-block {
    margin-bottom: 32px;
    margin-left: 54px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.phone-info .phone-info-block p {
    font-size: 20px;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.mail-info {
    width: 700px;
    height: 164px;
    border-radius: 30px;
    background-color: #EDEDED;
    display:grid;
    align-items: end;
}

.mail-info .mail-info-block {
    margin-bottom: 32px;
    margin-left: 54px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.mail-info .mail-info-block p {
    font-size: 20px;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.how-to-connect-block {
    width: 1440px;
    height: fit-content;
    border-radius: 30px;
    background-color: #F0F0F0;
    background-image: url("/static/image/Question.png");
    background-repeat: no-repeat;
    background-size: 472px;
    background-position: right;
    background-position-x: 891px;
    background-position-y: 30px;
    margin-bottom: 50px;
}

.how-to-connect-block .text{
    width: 664px;
    font-size: 20px;
    margin-bottom: 35px;
    
}

.how-to-connect-block .text p{
    margin-top: 35px;
}

.how-to-connect-block .leyout {
    margin: 90px;
}

.how-to-connect-block .text h2{
    margin: 0px;
    font-size: 40px;
    width: fit-content;
    text-transform: uppercase;
    font-family: "InterBold";
    width:fit-content;
}

.how-to-connect-block .social-connect a{
    display: inline-flex;
    align-items: center;
    color: white;
    background-color: #E40000;
    padding:0 28px 0 28px;
    border-radius: 60px;
    font-family: "InterBold";
    text-decoration: none;
    width: fit-content;
    margin-right: 26px;
    height: 80px;
}

.how-to-connect-block .social-connect img{
    margin-left: 12px;
    width: 43px;
    height: 43px;
}


footer {
    background-color: #3C4047;
    width: 100%;
    display: inline-flex;
    border-radius: 30px 30px 0px 0px;
    padding-top: 50px;
    width: 100%;
    height: 350px;
    color: white;
    justify-content: center;
    font-size: 16px;
}

footer .footer-content {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1440px;
}

footer .footer-content ul {
    list-style: none;
    margin: 0px;
}

footer .footer-content ul li {
    margin-bottom: 16px;
}

footer .footer-content .logo-down img {
    margin-bottom: 50px;
}





@font-face {
    font-family: "InterRegular"; 
    src: url("/static/fonts/Inter/Inter-Regular.otf") format("truetype"); 
    font-style:normal; 
    font-weight: 16pt; 
} 

@font-face {
    font-family: "InterSemiBold"; 
    src: url("/static/fonts/Inter/Inter-SemiBold.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "InterBold"; 
    src: url("/static/fonts/Inter/Inter-Bold.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "InterItalic"; 
    src: url("/static/fonts/Inter/Inter-Italic.otf") format("truetype"); 
    font-style: italic; 
    font-weight: normal; 
}  
